[Unit]
Description=SureMDM Nix Agent
After=syslog.target
After=network.target

[Service]
Type=notify
WorkingDirectory=
EnvironmentFile=
ExecStart=
SuccessExitStatus=143
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nix
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target

